<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<%= link_to "Home", root_path, class: "navbar-brand"%>
            <ul class="nav navbar-nav">
                <li class="active"><a href="">Diseño</a></li>
                <li><a href="">Programación</a></li>
                <li><a href="">Tecnología</a></li>
            </ul>
		</div>
	</nav>

  <div class="container">
  	<body>
	    <%= yield %>
	</body>
  </div>
</html>
